.not-found {
    // background-image: url("http://i.giphy.com/l0COICMjl4duuwGgo.gif");
    background-image: url("https://media.giphy.com/media/l46C9VsWTWD9CHocg/giphy.gif");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: bottom;
    text-align: center;
    .distribute;
.distribute-center;

    h2 {
        color: #fff;
        //   font-size: 5em;
        .fontSize5
    }

}